<?xml version="1.0"?>
<!--
/**
 * Aceextension_ImageOptmizer
 *
 * @category    Aceextension
 * @package     Aceextension_ImageOptmizer
 * @author      Aceextension
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aceextension" translate="label" sortOrder="100">
            <label>Aceextension</label>
        </tab>
        <section id="ace_image_optimizer" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Image Optimizer</label>
            <tab>aceextension</tab>
            <resource>Aceextension_ImageOptmizer::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="imagemagick_warning" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Aceextension\ImageOptmizer\Block\Adminhtml\System\Config\ImageMagickWarning</frontend_model>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Image Optimizer Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Master switch to enable or disable the SVG, WebP, and AVIF upload capabilities.<br/><strong style="color:#e22626;">Note: ImageMagick should be enabled as the default image adapter for best results with modern formats.</strong>]]></comment>
                </field>
                <field id="replace_catalog_images_with_webp" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Replace Catalog Images with WebP on Frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, all JPG and PNG catalog image URLs on the frontend will be automatically rewritten to .webp.</comment>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Debug Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
